body {
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  padding: 3px 8px !important;
  margin: 5px;
  margin-right: 10px;
}
nav {
  border-bottom: 1px solid #ebebeb;
  padding: 20px;
}
nav span {
  font-size: 12px;
  font-weight: bold;
  color: #b8b8b8;
  margin: 5px;
}
a {
  font-size: 12px;
  text-decoration: none;
}
header .lang {
  border-right: 1px solid black;
  direction: rtl;
}
.logo a {
  font-size: 17px;
  margin: 5px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}
.logo a:hover {
  color: #0d6af4;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.test {
  padding: 20px;
}
.test i,
.test a {
  margin: 5px;
  color: #a6b0c3;
  font-size: 15px;
}
.test input {
  padding: 5px;
  background-color: #eff2f5;
  outline: none;
  border: none;
  border-radius: 5px;
  position: relative;
}
.test input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #b8b8b8;
  font-weight: bold;
}
.first {
  background-color: var(--first-color);
  width: 100%;
  padding: 30px;
}
.one {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 25px;
  font-weight: bold;
}
.first .per {
  font-size: 14px;
  color: #16c784;
  font-weight: bold;
}
.first a {
  font-size: 14px;
  font-weight: 400;
  color: #a6b0c3;
  border-bottom: 2px solid #a6b0c3;
}
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6af4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6af4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.first img {
  width: 20px;
}
.two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.two .card {
  background-color: var(--card-color);
  width: 33%;
}
.two .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  border-radius: 10px;
}
.card p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.card .image img {
  position: relative;
  left: -5px;
  top: -10px;
}
.card a {
  font-size: 16px;
  color: #3485e5;
  font-weight: bold;
  border: none;
}

nav span,
nav i {
  cursor: pointer;
}
.nav a {
  border: none;
  outline: none;
  margin: 15px;
}
.nav button {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.nav .links a {
  font-size: 14px;
  font-weight: bold;
  color: #58667e;
}
table {
  text-align: center;
}
.dark {
  background-color: #0d1421;
  color: #fff;
  --text-color: #fff;
  --th-color: white;
  --first-color: #222530;
  --card-color: #323546;
}
.dark a {
  color: #fff;
}
:root {
  --th-color: black;
  --text-color: black;
  --first-color: white;
  --card-color: white;
}

table th,
table td {
  color: var(--th-color);
}

#up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000000cc;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
}
footer {
  padding: 30px;
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
footer .top .middel span {
  padding: 1px 8px;
  font-size: 18px;
  border-radius: 5px;
}
footer .top .middel .active,
footer .top .middel span:hover {
  background-color: #6188ff;
  color: #fff;
}
footer .middell {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .end .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 2;
  margin-top: 50px;
}
footer .end .right ul {
  list-style: none;
  width: 250px;
}
footer .end .right span {
  color: var(--text-color);
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
footer .end .right ul a {
  font-size: 16px;
  color: gray;
}
footer .end .right ul a:hover {
  color: #0d6af4;
}
.foot {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.foot img {
  width: 150px;
  border-radius: 5px;
  margin: 10px;
}
table img {
  width: 20px;
}
table .char {
  width: 200px;
}
